<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>I-Shop</title>
    <style>
        .category-scroll {
             position: sticky;
             top: 10px;
            max-height: 688px;
            overflow-y: auto;
        }
      </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'homepage' %}">E-Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% if request.session.name %}
        <li class="nav-item active">
        <a class="nav-link" href="#">Welcome {{ request.session.name }}</a>
      </li>
        {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping fa-beat" style="color: #418fde;"></i><span>{{request.session.cart|length}}</span></a>
      </li>
        {% if request.session.name %}
      <li class="nav-item ">
        <a class="nav-link " href="/order" >
          Order
        </a>

      </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link " href="/sighnup">Sign Up</a>
      </li>
         <li class="nav-item">
        <a class="nav-link " href="/login">Login</a>
      </li>
         {% endif %}
    </ul>
  </div>
</nav>

{% block content %}

{% endblock %}



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>


</body>
</html>